<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="msapplication-tap-highlight" content="no"/>
    <link href="/css/classroom.css" rel="stylesheet"/>
    <title><%= record.title%></title>
</head>
<body>
<div id="slider">
    <img src="http://resource.hizuoye.com/<%= record.coverImage%>" alt="" width="100%"/>
    <div class="separation"></div>
    <div class="title">
        <%= record.title%>
    </div>
    <div class="description">
        <div class="left">
            <label name="">推荐指数：</label>
            <img src="/images/icon-star.png" width="20">
            <img src="/images/icon-star.png" width="20">
            <img src="/images/icon-star.png" width="20">
            <img src="/images/icon-star.png" width="20">
        </div>
        <div class="right">
            <img src="/images/icon-people.png" width="16">
            <%= record.visit%> 人正在看
        </div>
    </div>

    <div class="course-brief"><img src="/images/icon-tag.png" width="16">课程简介</div>
    <div class="brief-detail item-list">
        <%= record.courseBrief%>
    </div>
    <div class="course-brief"><img src="/images/icon-tag.png" width="16">课程列表</div>
    <div class="course-list">
        <ul>
            <% if (record.courses.length) { %>
            <% record.courses.forEach(function(course){ %>
            <li>
                <a href="/events/<%= record.id.toString()%>/videos/<%= course._id%>">
                    <div class="left">
                        <span class="label-icon"><img src="/images/icon-video.png" width="16"></span>
                        <%= course.title%>
                    </div>
                </a>
            </li>
            <% })%>
            <% } %>
        </ul>
    </div>
</div>

<div class="statistics">
    <div class="viewd">
        阅读
        <label class="number">
            <% if (record.visit == null) { %>
            0
            <% } else {%>
            <%= record.visit%>
            <% } %>
        </label>
    </div>
    <div class="like zan">
        <img src="/images/icon-zan.png" width="16"><label class="number"><span id="like"><%= record.like%></span></label>
    </div>
    <div class="whistle">
        举报
    </div>
</div>
<input type="hidden" value="<%= record._id.toString()%>" class="r-id"/>
</body>
<script type="text/javascript" src="/js/lib/jquery-2.2.1.min.js"></script>
<script type="text/javascript" src="/js/register.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.introduction').find('ul>li').each(function (index) {
            var clazz = 'active';
            $(this).bind('click', function () {
                $(this).addClass(clazz).siblings().removeClass(clazz);
                $('.item-list').eq(index).show().siblings().hide();
            });
        });

    });
</script>
</html>