<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="msapplication-tap-highlight" content="no"/>
    <link href="/css/weui.min.css" rel="stylesheet">
    <link href="/css/base.css" rel="stylesheet">
    <link href="/css/video.css" rel="stylesheet"/>
    <title><%= item.title%></title>
</head>
<body>

<div class="title"><%= item.title%></div>
<div class="video"><%- item.link%></div>
<section class="content">
    <div class="introduction">
        <img src="/images/icon-tag.png" width="16"><label class="gap">知识重点</label>
    </div>
    <div class="brief">
        <%= item.brief%>
    </div>

</section>


<div class="statistics">
    <div class="viewd">
        阅读
        <label class="number">
            <%= item.visit%>
        </label>
    </div>
    <div class="like">
        <img src="/images/icon-zan.png" width="16">
        <label class="number"><span id="like"><%= item.like%></span></label>
    </div>
    <div class="whistle">
        举报
    </div>
</div>
<input type="hidden" value="<%= eventId%>" class="e-id"/>
<input type="hidden" value="<%= item._id%>" class="v-id"/>
</body>
<script type="text/javascript" src="/js/lib/jquery-2.2.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //点赞
        $('.like').bind('click', function () {
            var e_id = $('.e-id').val();
            var v_id = $('.v-id').val();
            var like = $('#like').text();
            $.post("/events/" + e_id + "/videos/" + v_id + "/like", function () {
                $('#like').text(parseInt(like) + 1);
            });
        });
    });
</script>
</html>