.statistics{
    height: 40px;
    width: 100%;
    color: #a9a9a9;
    margin-bottom: 0;
}

.statistics .viewd{
    font-size: 16px;
    float:left;
}

.statistics .like{
    float: left;
    margin-left: 20px;
    cursor:pointer;
    font-size:16px;
}

.statistics .number{
    margin-left: 5px;
    cursor:pointer;
}

.statistics .whistle{
    float:right;
    margin-top: -2px;
}