.vote-column-title{
    background-image: url("/images/vote/title-bg.png");
    width: 220px;
    height: 70px;
    line-height: 65px;
    text-align: center;
    font-size: 18px;
    margin: 0 auto;
    margin-top: 20px;
}
.banner-icon{
    line-height: 210px;
}
.vote-header{
    padding: 10px 10px 0 10px;
    margin-bottom: -20px;
}
.vote-header .vote-arrangements{
    padding: 10px;
    height: 75px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}
.vote-header .vote-arrangements li{
    float: left;
    width: 33%;
    padding: 5px 0;
    text-align: center;
    border-right: 1px solid transparent;
}
.vote-header .vote-arrangements li .count{
    font-weight: bold;
    margin-top: 5px;
}
li.no-b{
    border:none!important;
}
.vote-header .recently{
    height: 110px;
    padding-top: 15px;
}
.vote-header .recently p{
    color: #fff;
    font-weight: 600;
}
.vote-header .recently ul{
}
.vote-header .recently li{
    float: left;
    height: 35px;
    width: 42px;
    margin-bottom: 5px;
    text-align: center;
}
.vote-header .recently li img{
    width: 30px;
    height: 30px;
    border-radius: 5px;
}
.vote-header .vote-details{
    padding: 5px 20px 10px 0;
}
.vote-header .vote-details p{
    margin-bottom: 15px;
}
.vote-header .vote-details span{
    background: #f67685;
    margin-right: 8px;
    padding: 5px;
    border-radius: 4px;
}
.vote-content{
    padding-top: 10px;
}
.cut-off{
    /*height: 50px;*/
}
.cut-yun{
    margin-bottom: 50px;
}
.vote-filter{
    padding-top: 5px;
}
.vote-filter .btn{
    margin-right: 5px;
}
.vote-option-list{
    padding-top: 20px;
}
.vote-option-list{
    padding-left: 5px;
    padding-right: 5px;
}
.vote-option-list .item{
    padding-left: 5px;
    padding-right: 5px;
}
.vote-option-list .thumbnail{
    border-radius: 0;
    overflow: hidden;
    padding: 0;
    border: none;
    position: relative;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
.vote-option-list .thumbnail .caption{
    padding: 9px 0 9px 5px;
}
.vote-option-list .thumbnail .caption .item-details{
    width: 65%;
}
.vote-option-list .thumbnail .caption .item-details .count{
    margin-bottom: 0;
}
a.vote-toupiao{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 35%;
    height: 68px;
    text-align: center;
    line-height: 68px;
    letter-spacing: 1px;
    text-decoration: none;
}
.vote-option-list .thumbnail .number{
    width: 80px;
    height: 45px;
    position: absolute;
    top: 0;
    right: 10px;
    text-align: center;
    line-height: 35px;
}

/*导航*/
.vote-menu ul{
    margin-left: -10px;
    margin-right: -10px;
}
.vote-menu li{
    width: 25%;
    float: left;
    height: 50px;
    list-style-type: none;
    text-align: center;
    border-right: 1px solid #dfdfdf;
}
.vote-menu li a{
    color: #666;
    text-decoration: none;
}
.vote-menu img{
    display: block;
    margin-top: 4px;
    margin-bottom: 2px;
    width: 18px;
}
.search-modal{
    height: 75px;
    width: 100%;
    padding-top: 20px;
    position: fixed;
    bottom: 50px;
    background-color:rgba(0,0,0,0.5);
    display: none;
    z-index: 5000;
}
.search-modal .close-search{
    position: absolute;
    top: 0;
    right: 3px;
    color: #fff;
}
/*规则*/
.vote-rules{
    padding-top: 20px;
    padding-bottom: 50px;
}
.vote-rules.index{
    padding-top: 0;
}
.vote-rules .rules-column{
    height: 30px;
    width: 130px;
    font-size: 16px;
    padding-left: 20px;
    line-height: 30px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}
.vote-rules .rules-details{
    padding-top: 20px;
    margin-bottom: 20px;
    line-height: 25px;
}

/*选手*/
.player-info{
    padding: 10px;
    margin-top: 10px;
    position: relative;
    border-bottom: 1px dashed transparent;
}
.player-info .img{
    width: 90px;
    height: 80px;
    float: left;
}
.player-info .img img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.player-info .info{
    height: 80px;
    padding-top: 10px;
    font-size: 16px;
    font-weight: 500;
}
.player-info .info .name{
    letter-spacing: 5px;
}
.player-info .player-poll{
    width: 120px;
    height: 60px;
    position: absolute;
    top: 0;
    right: 30px;
    font-size: 14px;
    text-align: center;
    line-height: 26px;

}
.player-details{
    font-size: 14px;
    padding: 20px 10px 0 10px;
    line-height: 25px;
}
.player-details .tag{
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 4px;
}
.player-img{
    padding: 20px 10px 0 10px;
    margin-bottom: 20px;
}
.player-img img{
    margin-bottom: 20px;
}
.player-controls{
    padding-bottom: 70px;
}
.player-controls .btn{
    margin-bottom: 10px;
    padding: 10px 12px;
    border: none!important;
    box-shadow: inset 0 -4px rgba(0,0,0,.25);
}
.share-modal,.follow-modal{
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.5);
    position: fixed;
    z-index: 5000;
    top: 0;
    display: none;
}
.share-modal .share-tips{
    position: fixed;
    top: 35%;
    text-align: center;
    width: 100%;
}
.follow-modal .follow-tips{
    position: fixed;
    top: 20%;
    text-align: center;
    width: 100%;
}
.follow-modal .follow-tips .info{
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold
}
.share-modal .share-tips .close-share{
    margin-top: 50px;
}
/*报名*/
.enroll-form{
    margin-top: 20px;
    margin-bottom: 70px;
}
/*a  upload */
.a-upload {
    line-height: 20px;
    position: relative;
    cursor: pointer;
    color: #888;
    overflow: hidden;
    display: inline-block;
}

.a-upload  input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}
/*排行*/
.rank-list{
    margin-bottom: 70px;
}
.rank-item{
    height: 60px;
}
.rank-item .media{
    height: 60px;
    border-radius: 35px;
    background-color: #72c0e6;
    color: #fff;
    padding-top: 5px;
    position: relative;
    margin-top: 20px;
}
.rank-item .media h4{
    font-size: 14px;
    margin-top: 3px;
}
.rank-item .media .player-poll{
    font-size: 14px;
    width: 72px;
    height: 25px;
    padding-left: 25px;
    text-align: center;
    position: absolute;
    top: 18px;
    right: 10px;
    line-height: 24px;
}
.rank-item .media .number_0{
    background-image: url("/images/vote/rank-1.png");
    color: #fff;
}
.rank-item .media .number_1{
    background-image: url("/images/vote/rank-2.png");
    color: #fff;
}
.rank-item .media .number_2{
    background-image: url("/images/vote/rank-3.png");
    color: #fff;
}
.rank-item .media .number{
    width: 40px;
    height: 35px;
    margin-left: 15px;
    margin-top: 8px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
.rank-item .media .number_true{
    margin-top: 13px;
}
.rank-item .media img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    float: left;
    margin-right: 10px;
}
.weui_btn_area .btn{
    padding: 10px 12px;
    border: none!important;
    box-shadow: inset 0 -4px rgba(0,0,0,.25);
}
/*搜索结果*/
.search-title{
    margin-bottom: 0;
    display: inline-block;
}
.result{
    float: right;
    margin-top: 5px;
    font-size: 18px;
    font-weight: bold;
    margin-right: 5px;
}