<nav class="navbar vote-menu navbar-fixed-bottom">
    <div class="container-fluid">
        <ul class="list-unstyled">
            <li><a href="/votes/<%= vote._id %>"><img class="center-block" src="/images/vote/icon-home.png">首页</a></li>
            <li><a href="/votes/<%= vote._id %>/enroll"><img class="center-block" src="/images/vote/icon-enroll.png">报名</a></li>
            <li><a href="/votes/<%= vote._id %>/rank"><img class="center-block" src="/images/vote/icon-rank.png">排行</a></li>
            <li class="no-b"><a href="javascript:void(0)" id="openSearchModal"><img class="center-block" src="/images/vote/icon-search.png">搜索</a></li>
        </ul>
    </div>
</nav>