<nav class="navbar vote-menu navbar-fixed-bottom">
    <div class="container-fluid">
        <ul class="list-unstyled">
            <li><a href="/votes/<%= vote._id %>"><i class="fa fa-home"></i>首页</a></li>
            <li><a href="/votes/<%= vote._id %>/enroll"><i class="fa fa-pencil-square-o"></i>报名</a></li>
            <li><a href="/votes/<%= vote._id %>/rank"><i class="fa fa-bar-chart"></i>排行</a></li>
            <li class="no-b"><a href="javascript:void(0)" id="openSearchModal"><i class="fa fa-search"></i>搜索</a></li>
        </ul>
    </div>
</nav>