<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="msapplication-tap-highlight" content="no"/>
    <title><%= vote.title%></title>
    <link rel="stylesheet" href="/css/vote.bundle.css">
    <link href='/css/theme/theme-<%= record.theme%>.css' rel="stylesheet">
</head>
<body>
<!--header-->
<div class="container-fluid">
    <div class="row">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <% vote.slides.forEach(function(side,index){ %>
                <div class="item <%if(index==0){ %>active
                <% } %>">
                    <img src="http://resource.hizuoye.com/<%= side %>" width="100%" style="height: 220px" alt="...">
                </div>
                <% }) %>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="banner-icon" aria-hidden="true"><img src="/images/icon-left.png" width="24"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="banner-icon" aria-hidden="true"><img src="/images/icon-right.png" width="24"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="vote-header">
            <div class="vote-arrangements">
                <ul class="list-unstyled">
                    <li>
                        <div class="index">参与选手</div>
                        <div class="count"><%= totalPlayer %></div>
                    </li>
                    <li>
                        <div class="index">累计投票</div>
                        <div class="count"><%= record.totalPoll || 0 %></div>
                    </li>
                    <li class="no-b">
                        <div class="index">访问量</div>
                        <div class="count"><%= record.visit %></div>
                    </li>
                </ul>
            </div>

            <div class="vote-details chearfix">
                <p><span>活动主题</span><%= record.title %></p>
                <p><span>主办单位</span><%= record.schoolId.schoolName %></p>
                <p><span>报名时间</span><%= moment(record.startTime).format('MM月DD日') %> 起</p>
                <p><span>投票时间</span><%= moment(record.startTime).format('MM月DD日') %> 至 <%=
                    moment(record.endTime).format('MM月DD日') %></p>
            </div>
        </div>
    </div>
    <div class="row cut-off">
        <img src="/images/vote/theme-<%= record.theme%>/mw_001.jpg" width="100%">
    </div>
    <div class="row vote-content">
        <div class="col-xs-12">
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <input type="text" class="form-control search-input" placeholder="请输入编号或名称">
                        <span class="input-group-btn">
                            <button class="btn search-btn" type="button">搜索</button>
                        </span>
                        </div>
                    </div>
                </div>
            </form>
            <div class="vote-filter">
                <div class="row">
                    <div class="col-xs-4">
                        <a href="/votes/<%= vote._id %>/enroll" class="btn btn-filter btn-block btn-md">我要参加</a>
                    </div>
                    <div class="col-xs-4">
                        <a href="/votes/<%= vote._id %>/rules" class="btn btn-warning btn-block btn-md">赛事规则</a>
                    </div>
                    <div class="col-xs-4">
                        <a href="/votes/<%= vote._id %>/rank" class="btn btn-info btn-block btn-md">TOP 50</a>
                    </div>
                </div>
            </div>
            <div class="vote-option-list">
                <div class="row" id="masonry">
                    <% players.forEach(function(player){ %>
                    <div class="col-xs-6 col-sm-4 item">
                        <div class="thumbnail">
                            <a href="/votes/<%= record._id%>/players/<%= player._id %>?followFlag=<%=followFlag || 0 %>">
                                <img src="http://resource.hizuoye.com/<%= player.images[0] %>" width="100%" alt="...">
                            </a>
                            <div class="number"><%= player.sequence %>号</div>
                            <div class="caption">
                                <div class="item-details">
                                    <p class="name"><%= player.name %></p>
                                    <p class="count"><%= player.poll %> 票</p>
                                </div>
                                <a href="/votes/<%= record._id%>/players/<%= player._id %>?followFlag=<%=followFlag || 0 %>"
                                   class="vote-toupiao"
                                   role="button">投票</a>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>
            <nav class="text-center">
                <ul class="pagination" id="pagination">

                </ul>
            </nav>
        </div>
    </div>
    <div class="row cut-yun">
        <img src="/images/vote/theme-<%= record.theme%>/mw_002.jpg" width="100%">
    </div>
</div>
<div class="container-fluid">
    <div class="vote-rules index">
        <div class="row rules-column">奖品设置</div>
        <div class="row rules-details">
            <div class="col-xs-12">
                <%- vote.prize.replace(/\n/g,'<br>') %>

            </div>
        </div>
        <div class="row rules-column">参赛方式</div>
        <div class="row rules-details">
            <div class="col-xs-12">
                <%- vote.participation.replace(/\n/g,'<br>') %>

            </div>
        </div>
        <% if(vote.explanation) { %>
        <div class="row rules-column">投票说明</div>
        <div class="row rules-details">
            <div class="col-xs-12">
                <%- vote.explanation.replace(/\n/g,'<br>') %>
            </div>
        </div>
        <% } %>
    </div>
</div>
<%- include('footer.html') %>

<input type="hidden" id="totalPlayer" value="<%= totalPlayer %>">
<input type="hidden" value="<%= vote._id %>" id="eventId">
<input type="hidden" value="http://resource.hizuoye.com/<%= vote.slides[0] %>" id="coverImage">
<input type="hidden" value="<%= vote.title %>" id="shareTitle">

<script type="text/javascript" src="/js/lib/jquery-2.2.1.min.js"></script>
<script type="text/javascript" src="/js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/lib/hammer.min.js"></script>
<script type="text/javascript" src="/js/lib/hammer-time.min.js"></script>
<script type="text/javascript" src="/js/lib/jquery.hammer.js"></script>
<script type="text/javascript" src="/js/lib/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="/js/lib/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="/js/lib/jquery.twbsPagination.min.js"></script>
<script type="text/javascript" src="/js/lib/youarei.min.js"></script>
<script type="text/javascript" src="/js/lib/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="/js/vote-common.js"></script>
<script type="text/javascript" src="/js/vote-index.js"></script>
</body>
</html>
