<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="msapplication-tap-highlight" content="no"/>
    <title><%= record.title%></title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/css/vote.css" rel="stylesheet">
    <link href='/css/theme/theme-<%= record.theme%>.css' rel="stylesheet">
</head>
<body>
<!--header-->
<div class="container-fluid">
    <div class="row vote-content">
        <div class="col-xs-12">
            <div class="search-result">
                <h4 class="search-title">搜索结果：</h4>
                <span class="result">12</span>
            </div>
            <div class="vote-option-list">
                <div class="row" id="masonry">
                    <% players.forEach(function(player){ %>
                    <div class="col-xs-6 col-sm-4 item">
                        <div class="thumbnail">
                            <img src="/images/castvote/1.jpg" alt="...">
                            <div class="number"><%= player.sequence %>号</div>
                            <div class="caption">
                                <div class="item-details">
                                    <p class="name"><%= player.name %></p>
                                    <p class="count"><%= player.poll %> 票</p>
                                </div>
                                <a href="/votes/<%= record._id%>/players/<%= player._id %>"
                                   class="vote-toupiao"
                                   role="button">投票</a>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>
            <nav class="text-center">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row cut-yun">
        <img src="/images/vote/theme-<%= record.theme%>/mw_002.jpg" width="100%">
    </div>
</div>
<%- include('footer.html') %>
<div class="search-modal chearfix" id="searchModal">
    <a class="close-search" id="closeSearch"><img src="/images/vote/icon-close.png" width="18"></a>
    <form class="form-horizontal" id="searchModalForm">
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-8">
                <div class="input-group">
                    <input type="text" class="form-control search-input" placeholder="请输入编号或名称">
                        <span class="input-group-btn">
                            <button class="btn search-btn" type="button">搜索</button>
                        </span>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="/js/lib/jquery-2.2.1.min.js"></script>
<script type="text/javascript" src="/js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/lib/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="/js/lib/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="/js/vote-common.js"></script>
</body>
<script type="text/javascript">
    $(document).ready(function () {
        var $container = $('#masonry');
        $container.imagesLoaded(function () {
            $container.masonry({
                columnWidth: '.item',
                itemSelector: '.item'
            });
        });
    });
</script>
</html>
