<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="format-detection" content="telephone=no"/>
    <meta name="msapplication-tap-highlight" content="no" />
    <title></title>
    <link href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/css/vote.css" rel="stylesheet">
    <link href="/css/theme/theme-green.css" rel="stylesheet">
</head>
<body>
<!--header-->
<div class="container-fluid">
    <div class="vote-column-title">
        排行榜
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="rank-list">
                <div class="rank-item">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="/images/castvote/1.jpg" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">王小宝</h4>
                            <span>编号：00001</span>
                            <span class="player-num">4680</span>票
                            <div class="number">1</div>
                        </div>
                    </div>
                </div>
                <div class="rank-item">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="/images/castvote/2.jpg" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">马晓东</h4>
                            <span>编号：00001</span>
                            <span class="player-num">3123</span>票
                            <div class="number">2</div>
                        </div>
                    </div>
                </div>
                <div class="rank-item">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="/images/castvote/3.jpg" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">李小伟</h4>
                            <span>编号：00001</span>
                            <span class="player-num">1232</span>票
                            <div class="number">3</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('footer.html') %>
<div class="search-modal chearfix" id="searchModal">
    <a class="close-search" id="closeSearch"><i class="fa fa-times"></i></a>
    <form class="form-horizontal" id="searchModalForm">
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-8">
                <div class="input-group">
                    <input type="text" class="form-control search-input" placeholder="请输入编号或名称">
                        <span class="input-group-btn">
                            <button class="btn search-btn" type="button">搜索</button>
                        </span>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="/js/lib/jquery-2.2.1.min.js"></script>
<script type="text/javascript" src="/js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/vote.js"></script>
</body>

</html>
