<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="format-detection" content="telephone=no"/>
    <meta name="msapplication-tap-highlight" content="no" />
    <title></title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/css/vote.css" rel="stylesheet">
    <link href="/css/theme/theme-<%= vote.theme%>.css" rel="stylesheet">
</head>
<body>
<!--header-->
<div class="container-fluid">
    <div class="vote-column-title">
        活动规则
    </div>
    <div class="vote-rules">
        <div class="row rules-column">奖品设置</div>
        <div class="row rules-details">
            <div class="col-xs-12">
                <%= vote.prize %>

            </div>
        </div>
        <div class="row rules-column">参与方式</div>
        <div class="row rules-details">
            <div class="col-xs-12">
                <%= vote.participation %>

            </div>
        </div>
        <% if(vote.explanation) { %>
        <div class="row rules-column">参与方式</div>
        <div class="row rules-details">
            <div class="col-xs-12">
                <%= vote.explanation %>
            </div>
        </div>
        <% } %>
    </div>
</div>
<%- include('footer.html') %>
<div class="search-modal chearfix" id="searchModal">
    <a class="close-search" id="closeSearch"><i class="fa fa-times"></i></a>
    <form class="form-horizontal" id="searchModalForm">
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-8">
                <div class="input-group">
                    <input type="text" class="form-control search-input" placeholder="请输入编号或名称">
                        <span class="input-group-btn">
                            <button class="btn search-btn" type="button">搜索</button>
                        </span>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="/js/lib/jquery-2.2.1.min.js"></script>
<script type="text/javascript" src="/js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/vote.js"></script>
</body>

</html>
