<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="msapplication-tap-highlight" content="no"/>
    <title><%= vote.title%></title>
    <link rel="stylesheet" href="/css/vote.bundle.css">
    <link href="/css/theme/theme-<%= vote.theme %>.css" rel="stylesheet">
</head>
<body>
<!--header-->
<div class="container-fluid">
    <div class="vote-column-title">
        排行榜(前50名)
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="rank-list">
                <% players.forEach(function(player,i){ %>
                <div class="rank-item">
                    <div class="media">
                        <div class="media-left">
                            <div class="number number_<%= i >2 || i %>"><%= i+1 %></div>
                        </div>
                        <div class="media-body">
                            <img class="media-object" src="http://resource.hizuoye.com/<%= player.images[0] %>" alt="...">
                            <h4 class="media-heading"><%= player.name %></h4>
                            <span>编号：<%= player.sequence %></span>
                            <div class="player-poll"><%= player.poll %></div>
                        </div>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>
<%- include('footer.html') %>
<script type="text/javascript" src="/js/lib/jquery-2.2.1.min.js"></script>
<script type="text/javascript" src="/js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/vote-common.js"></script>
</body>

</html>
