<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="msapplication-tap-highlight" content="no"/>
    <title><%= vote.title%></title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/weui.min.css">
    <link rel="stylesheet" href="/css/jquery-weui.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/vote.css">
    <link rel="stylesheet" href="/css/theme/theme-<%= vote.theme %>.css">
</head>
<body class="">
<!--header-->
<div class="container-fluid">
    <div class="vote-column-title">
        参赛报名处
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="enroll-form">
                <div class="weui_cells weui_cells_form">
                    <div class="weui_cell">
                        <div class="weui_cell_hd"><label class="weui_label">姓名</label></div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <input class="weui_input" type="text" placeholder="请输入姓名" id="name"/>
                        </div>
                    </div>
                    <div class="weui_cell">
                        <div class="weui_cell_hd"><label class="weui_label">手机</label></div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <input class="weui_input" type="text" placeholder="请输入手机号" id="phone"/>
                        </div>
                    </div>
                </div>
                <div class="weui_cells weui_cells_form">
                    <div class="weui_cell">
                        <div class="weui_cell_bd weui_cell_primary">
                            <div class="weui_uploader">
                                <div class="weui_uploader_hd weui_cell">
                                    <div class="weui_cell_bd weui_cell_primary">图片上传</div>
                                    <div class="weui_cell_ft"><span id="imageCount">0</span>/3</div>
                                </div>
                                <div class="weui_uploader_bd">
                                    <ul class="weui_uploader_files">
                                        <li id="imgUpload">
                                            <div class="weui_uploader_input_wrp">
                                                <input class="weui_uploader_input" type="file"
                                                       name="file"
                                                       id="imageFile"
                                                       accept="image/jpg,image/jpeg,image/png,image/gif"/>
                                            </div>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="weui_cells weui_cells_form">
                    <div class="weui_cell">
                        <div class="weui_cell_bd weui_cell_primary">
                            <textarea class="weui_textarea" placeholder="请输入描述信息" rows="3" id="brief"></textarea>
                            <div class="weui_textarea_counter"><span id="charCount">0</span>/200</div>
                        </div>
                    </div>
                </div>
                <div class="weui_btn_area">
                    <button class="btn btn-info btn-block" id="submitEnroll">确定</button>
                </div>
            </div>
        </div>
    </div>
    <div class="vote-column-title">
        活动规则
    </div>
    <div class="vote-rules">
        <div class="row rules-column">奖品设置</div>
        <div class="row rules-details">
            <div class="col-xs-12">
                <%- vote.prize.replace(/\n/g,'<br>') %>

            </div>
        </div>
        <div class="row rules-column">参赛方式</div>
        <div class="row rules-details">
            <div class="col-xs-12">
                <%- vote.participation.replace(/\n/g,'<br>') %>

            </div>
        </div>
        <% if(vote.explanation) { %>
        <div class="row rules-column">投票说明</div>
        <div class="row rules-details">
            <div class="col-xs-12">
                <%- vote.explanation.replace(/\n/g,'<br>') %>
            </div>
        </div>
        <% } %>
    </div>
</div>
<%- include('footer.html') %>
<input type="hidden" id="token" value="<%= token %>">
<script type="text/javascript" src="/js/lib/jquery-2.2.1.min.js"></script>
<script type="text/javascript" src="/js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/lib/jquery.uploadify.min.js"></script>
<script type="text/javascript" src="/js/lib/jquery-weui.js"></script>
<script type="text/javascript" src="/js/lib/hammer-time.min.js"></script>
<script type="text/javascript" src="/js/vote-common.js"></script>
<script type="text/javascript" src="/js/vote-enroll.js"></script>
</body>
</html>
