<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="msapplication-tap-highlight" content="no"/>
    <title>我要报名</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/weui.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/css/vote.css" rel="stylesheet">
    <link href="/css/theme/theme-<%= vote.theme%>.css" rel="stylesheet">
</head>
<body class="bg-color">
<!--header-->
<div class="container-fluid">
    <div class="vote-column-title">
        参赛报名处
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="enroll-form">
                <div class="weui_cells weui_cells_form">
                    <div class="weui_cell">
                        <div class="weui_cell_hd"><label class="weui_label">姓名</label></div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <input class="weui_input" type="text" placeholder="请输入姓名" id="name"/>
                        </div>
                    </div>
                    <div class="weui_cell">
                        <div class="weui_cell_hd"><label class="weui_label">手机</label></div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <input class="weui_input" type="text" placeholder="请输入手机号" id="phone"/>
                        </div>
                    </div>
                </div>
                <div class="weui_cells weui_cells_form">
                    <div class="weui_cell">
                        <div class="weui_cell_bd weui_cell_primary">
                            <div class="weui_uploader">
                                <div class="weui_uploader_hd weui_cell">
                                    <div class="weui_cell_bd weui_cell_primary">图片上传</div>
                                    <div class="weui_cell_ft"><span id="imageCount">0</span>/5</div>
                                </div>
                                <div class="weui_uploader_bd">
                                    <ul class="weui_uploader_files">
                                        <li>
                                        <div class="weui_uploader_input_wrp">
                                            <input class="weui_uploader_input" type="file"
                                                   name="file"
                                                   id="imageFile"
                                                   accept="image/jpg,image/jpeg,image/png,image/gif"/>
                                        </div>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="weui_cells weui_cells_form">
                    <div class="weui_cell">
                        <div class="weui_cell_bd weui_cell_primary">
                            <textarea class="weui_textarea" placeholder="请输入描述信息" rows="3" id="brief"></textarea>
                            <div class="weui_textarea_counter"><span id="charCount">0</span>/200</div>
                        </div>
                    </div>
                </div>
                <div class="weui_btn_area">
                    <button class="btn btn-info btn-block" id="submitEnroll">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('footer.html') %>
<div class="search-modal chearfix" id="searchModal">
    <a class="close-search" id="closeSearch"><img src="/images/vote/icon-close.png" width="18"></a>
    <form class="form-horizontal" id="searchModalForm">
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-8">
                <div class="input-group">
                    <input type="text" class="form-control search-input" placeholder="请输入编号或名称">
                        <span class="input-group-btn">
                            <button class="btn search-btn" type="button">搜索</button>
                        </span>
                </div>
            </div>
        </div>
    </form>
</div>
<input type="hidden" id="token" value="<%= token %>">
<input type="hidden" id="voteId" value="<%= vote._id %>">

<script type="text/javascript" src="/js/lib/jquery-2.2.1.min.js"></script>
<script type="text/javascript" src="/js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/lib/jquery.uploadify.min.js"></script>
<script type="text/javascript" src="/js/vote.js"></script>
<script type="text/javascript" src="/js/vote-enroll.js"></script>
</body>
</html>
