body{
    background-color: #e5f1e5;
}
body.bg-color{
    background-color: #76d4ba;
}
.search-result{
    color: #72c0e6;
}
.search-btn,
.search-btn:hover,
.search-btn:focus,
.search-btn:active{
    background-color: #76d4ba !important;
    border: 1px solid #76d4ba !important;
    color: #fff;
}
.btn-filter,
.btn-filter:hover,
.btn-filter:focus{
    background-color: #76d4ba !important;
    border: 1px solid #76d4ba !important;
    color: #ffffff;
    border-radius:4px;
}
.btn-filter.active{
    background-color: #037ab2 !important;
    border: 1px solid #037ab2 !important;
}
.vote-header{
    background-color: #76d4ba;
}
.vote-header .vote-arrangements li{
    border-color: #76d4ba;
    color: #76d4ba;
}
.vote-header .recently p{
    color: #fff;
}
.vote-header .vote-details{
    color: #fff;
}
.vote-header .vote-details span{
    background: #ff756b;
}

.vote-option-list .thumbnail{
    background-color: #76d4ba;
}
.vote-option-list .thumbnail p{
    color: #fff;
}
.vote-toupiao{
    background-color:#ff756b;
    color: #fff;
}
a.vote-toupiao:hover,
a.vote-toupiao:active{
    color: #fff;
}
.vote-option-list .thumbnail .number{
    background-image: url("/images/vote/theme-green/number-green.png");
    color: #fff;
}
/*∑÷“≥*/
.pagination > li > a,
.pagination > li > span {
    color: #76d4ba;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #76d4ba;
    border-color: #76d4ba;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #76d4ba;
    border-color: #76d4ba;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    color: #76d4ba;
}
.vote-rules .rules-column{
    background-color: #76d4ba;
    color: #fff;
}
.vote-rules .rules-details{
    color: #44b192;
}
.vote-menu{
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
    background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
}

/*—° ÷*/
.player-info{
    background-color: #fff;
    border-color: #76d4ba;
}
.player-info .info{
    color: #76d4ba;
}
.player-info .info .name{
    letter-spacing: 5px;
}
.player-info .player-poll{
    background: url('/images/vote/theme-green/player-rank.png');
    color: #fff;
}
.player-details{
    background: #fff;
}
.player-details .tag{
    color: #fff;
    background: #ff756b;
}
.player-img{
    background: #fff;
}
.btn-default,
.btn-default:hover,
.btn-default:focus,
.btn-default:active{
    background-color: #76d4ba !important;
    border: 1px solid #76d4ba !important;
}
.btn-info,
.btn-info:hover,
.btn-info:focus,
.btn-info:active{
    background-color: #9d55b8 !important;
    border: 1px solid #9d55b8 !important;
}
.btn-warning,
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active{
    background-color: #ffbd4a !important;
    border: 1px solid #ffbd4a !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger:focus,
.btn-danger:hover{
    background-color: #ff756b !important;
    border: 1px solid #ff756b !important;
}
.rank-item .media .player-poll{
    background-image: url("/images/vote/theme-green/rank-poll-bg.png");
    color: #fff;
}
.rank-item .media{
    background-color: #76d4ba;
    color: #fff;
}