body{
    background-color: #ffdccc;
}
body.details{
    background-color: #eecf37;
}
.search-btn,
.search-btn:hover,
.search-btn:focus,
.search-btn:active{
    background-color: #ff756b !important;
    border: 1px solid #ff756b !important;
    color: #fff;
}
.btn-filter,
.btn-filter:hover,
.btn-filter:focus{
    background-color: #ff756b !important;
    border: 1px solid #ff756b !important;
    color: #ffffff;
    border-radius:4px;
}
.btn-filter.active{
    background-color: #037ab2 !important;
    border: 1px solid #037ab2 !important;
}
.vote-header{
    background-color: #fee797;
}
.vote-header .vote-arrangements li{
    border-color: #fee797;
    color: #fee797;
}
.vote-header .recently p{
    color: #fff;
}
.vote-header .vote-details{
    color: #fff;
}

.vote-option-list .thumbnail{
    background-color: #ff756b;
}
.vote-option-list .thumbnail p{
    color: #fff;
}
.vote-toupiao{
    background-color:#fa483c;
    color: #fff;
}
a.vote-toupiao:hover,
a.vote-toupiao:active{
    color: #fff;
}
.vote-option-list .thumbnail .number{
    background-image: url("/images/vote/theme-red/number-red.png");
    color: #fff;
}
/*∑÷“≥*/
.pagination > li > a,
.pagination > li > span {
    color: #ff756b;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #ff756b;
    border-color: #ff756b;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #ff756b;
    border-color: #ff756b;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    color: #ff756b;
}
.vote-rules .rules-column{
    background-color: #ff756b;
    color: #fff;
}
.vote-rules .rules-details{
    color: #ff756b;
}
.vote-menu{
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
    background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
}

/*—° ÷*/
.player-info{
    background-color: #fff;
    border-color: #ff756b;
}
.player-info .info{
    color: #ff756b;
}
.player-info .info .name{
    letter-spacing: 5px;
}
.player-info .player-poll{
    background: url('/images/vote/theme-red/player-rank.png');
    color: #fff;
}
.player-details{
    background: #fff;
}
.player-details .tag{
    color: #fff;
    background: #ff756b;
}
.player-img{
    background: #fff;
}
.btn-info,
.btn-info:hover,
.btn-info:focus,
.btn-info:active{
    background-color: #72d26e !important;
    border: 1px solid #72d26e !important;
}
.btn-warning,
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active{
    background-color: #f05e23 !important;
    border: 1px solid #f05e23 !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger:focus,
.btn-danger:hover{
    background-color: #f67685 !important;
    border: 1px solid #f67685 !important;
}

.rank-item .media .number{
    background-image: url("/images/vote/theme-red/rank-num.png");
    color: #fff;
}
.rank-item .media{
    background-color: #ff756b;
    color: #fff;
}